.Portrait {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: var(--box-shadow-color);
  background-image: url("../images/camel.jpg");
  background-position: center;
  background-size: 100%;
  margin: 25px auto;
  box-shadow: 0px 0px 30px 2px var(--box-shadow-color);
}

.Mission-statement {
  color: var(--secondary-text-color);
  font-size: large;
  font-weight: lighter;
  padding: 0 45px;
}

.Mission-statement-emphasis {
  font-weight: bold;
  color: var(--primary-text-color);
}
