@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  --box-shadow-color: #424242;
  --dark-primary-color: #512DA8;
  --default-primary-color: #673AB7;
  --light-primary-color: #D1C4E9;
  --text-primary-color: #FFFFFF;
  --accent-color: #FFC107;
  --primary-text-color: #0c0b0b;
  --secondary-text-color: #757575;
  --divider-color: #BDBDBD;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
