.Nav {
  position: relative;
  color: white;
  margin-bottom: 25px;
  padding-top: 10px;
}

.Name {
  font-size: 1.5em;
  text-align: left;
}

.Name:hover {
  color: white;
  text-decoration: none;
}

.Name {
  color: white;
}

.First-name {
  font-weight: 300;
}

.Last-name {
  font-weight: 600;
}

.Nav-item {
  color: white;
}

.Nav-item:hover {
  color: lightgray;
  text-decoration: none;
}
