.Nav {
  position: relative;
  color: white;
  margin-bottom: 25px;
  padding-top: 10px;
}

.Name {
  font-size: 31px;
  color: white;
  text-align: left;
}

.First-name {
  font-weight: 100;
}

.Last-name {
  font-weight: 400;
}

.Pages {
  margin: 5px auto;
}

.Nav-item {
  color: white;
  font-size: 18px;
  font-weight: lighter;
  padding: 5px 50px;
}

a.Name:focus,
a.Nav-item:focus {
  color: white;
  text-decoration: none;
}

@media (hover: hover) {
  a.Nav-item:hover {
    background-color: var(--dark-primary-color);
    border-radius: 2px;
  }

  a.Name:hover,
  a.Nav-item:hover {
    color: white;
    text-decoration: none;
  }
}
