:root {
  --box-shadow-color: #424242;
  --dark-primary-color: #512DA8;
  --default-primary-color: #673AB7;
  --light-primary-color: #D1C4E9;
  --text-primary-color: #FFFFFF;
  --accent-color: #FFC107;
  --primary-text-color: #0c0b0b;
  --secondary-text-color: #757575;
  --divider-color: #BDBDBD;
}

.App {
  text-align: center;
}

.Header {
  padding: 15px;
}

.Header-background {
  background-color: var(--default-primary-color);
  background-image: url("./images/geometry.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 100px;
  height: 25vh;
  max-height: 200px;
  box-sizing: border-box;
  padding: 48px 48px 32px 48px;
  overflow: hidden;
  transform: skewY(4deg);
  transform-origin: 100%;
}

.Focus {
  align-items: center;
  position: relative;
  margin: 0 auto -32px;
  padding: 0px 0 0;
  color: #fff;
}

.Portrait {
  height: 250px;
  width: 250px;
  background-color: blue;
  border-radius: 50%;
  background-image: url("./images/portrait.jpg");
  background-position: center;
  background-size: contain;
  margin: 25px auto;
  box-shadow: 0px 8px 10px -3px var(--box-shadow-color);
}

.Mission-statement {
  color: black;
  font-size: large;
}

@media only screen and (max-width : 700px)  {
  .Header-background {
    transform: skewY(0deg);
  }
}

@media only screen and (min-width : 1100px)  {
  .Header-background {
    min-height: 200px;
    max-height: 400px;
  }
}
