:root {
  --box-shadow-color: gray;
  --dark-primary-color: #512DA8;
  --default-primary-color: #673AB7;
  --light-primary-color: #D1C4E9;
  --text-primary-color: #FFFFFF;
  --accent-color: #FFC107;
  --primary-text-color: #0c0b0b;
  --secondary-text-color: #757575;
  --divider-color: #BDBDBD;
}

.App {
  text-align: center;
}

.Header {
  padding: 10px;
}

.Header-background {
  background-color: var(--default-primary-color);
  background-image: url("./images/geometry.png");
  width: 100%;
  min-height: 150px;
  max-height: 300px;
  position: absolute;
  height: 50vh;
  transform: skewY(8deg);
  transform-origin: 110%;
}

.Nav {
  position: relative;
}

.Name {
  color: white;
  font-size: 1.5em;
}

.First-name {
  font-weight: 300;
}

.Last-name {
  font-weight: 600;
}

.Focus {
  position: relative;
}

.Portrait {
  height: 250px;
  width: 250px;
  background-color: blue;
  border-radius: 50%;
  background-image: url("./images/portrait.jpg");
  background-position: center;
  background-size: contain;
  margin: 0 auto;
  box-shadow: 0px 5px 14px 2px var(--box-shadow-color);
}

.Mission-statement {
  color: black;
  font-size: large;
}
