.Header-background {
  background-color: var(--default-primary-color);
  background-image: url("../media/images/geometry.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 100px;
  height: 25vh;
  max-height: 200px;
  box-sizing: border-box;
  padding: 48px 48px 32px 48px;
  overflow: hidden;
  transform: skewY(4deg);
  transform-origin: 100%;
  transition: all 150ms cubic-bezier(0.26, 0.62, 0.69, 0.2);
  box-shadow: 0px 0px 30px 2px var(--box-shadow-color);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: all 150ms cubic-bezier(0.26, 0.62, 0.69, 0.2);
}

.sticky > .Header-background {
  transform: skewY(0deg);
  max-height: 0px;
  min-height: 0px;
}

@media only screen and (max-width: 768px) {
  .Header-background {
    transform: skewY(0deg);
  }
}

@media only screen and (min-width: 1200px) {
  .Header-background {
    min-height: 200px;
    max-height: 400px;
  }
}
